body{
    background:black;
    color:#1dc4c4;
    margin: 0px;
    font-family: "Nerko One", cursive;
}
header{ 
    border-bottom: solid 1px white;
    padding: 20px;
    font-size: 50; 
}  
section{ 
    background: rgb(126 151 167);
    display:flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
   
.titulo-video{
    margin-right: 5%;
}

.fila-videos{
    display:flex;
    overflow-x: auto;
    gap: 20px;
   
}
.fila{
    padding-left: 20px;
    padding-right: 20px;
}

